@use 'styles/common/sizes';

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: sizes.$grid-max-width;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(sizes.$playlist-video-min-width, auto));
  gap: sizes.$grid-gap;
  list-style: none;
}

.no_more_videos {
  text-align: center;
}

@media screen and (min-width: sizes.$grid-quad-item-width) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}