.playlist_container {
  flex: 1 1 35%;
  margin: 0;
  padding: 0 0 0 8px;
  list-style: none;
}

.notSelectedVideo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 1080px) {
  .playlist_container {
    padding: 0px;
  }
}
