@use 'styles/common/colors';

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;

    & .video_container {
        margin: 0;
        padding: 0;
    }
}

.more_btn {
    width: 100%;
    border: 1px solid colors.$button-blue-color;
    border-radius: 2px;
    padding: 9px 15px;
    color: colors.$button-blue-color;
}