@use 'styles/common/colors';
@use 'styles/common/mixins';
@use 'styles/common/sizes';

.wrapper {
  @include mixins.grid-video-item;
  cursor: pointer;

  & .info_wrapper {
    width: 100%;
    height: 100%;
    padding: sizes.$space-3x 0;
    display: flex;

    & .title {
      @include mixins.filp-content(2);
      margin: 0 0 6px 0;
      font-size: 1rem;
    }

    & .info {
      font-size: 0.9rem;
      color: colors.$light-gray-color;

      & .channel_title{
        @include mixins.filp-content(1);
      }

      & .sub_info {
        font-size: 0.8rem;

        & span:first-child::after {
          content: "•";
          margin: 0 sizes.$space-1x;
        }
      }
    }
  }
}

:global {
  .section_select_video {
    & :local .wrapper {
      margin: sizes.$playlist-video-margin;
      flex-direction: row;
      min-width: sizes.$playlist-video-min-width;
      max-width: sizes.$playlist-video-max-width;

      & .info_wrapper {
        padding: 0;
      }
    }
  }
}

:global {
  @media screen and (max-width: sizes.$playlist-changeable-width) {
    .section_select_video {
      display: block;

      & :local .wrapper {
        width: 100%;
        max-width: none;
      }
    }
  }
}

@media screen and (max-width: sizes.$single-video-section-max-width) {
  .wrapper .info_wrapper {
    padding: sizes.$space-3x;
  }
}