@use 'styles/common/colors';
@use 'styles/common/sizes';
@use 'styles/common/mixins';

.container {
  margin: 0 0 sizes.$medium-space 0;
  display: flex;

  & a {
    color: colors.$link-blue-color;
    text-decoration: none;
  }
}

.info_container {
  & .info_header {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
  
    & > .name {
      margin: 0;
      font-size: 0.9rem;
      color: black;
    }
  
    & > .publish_data {
      padding-left: 5px;
      color: colors.$light-gray-color;
      font-size: 0.7rem;
    }
  }
  
  & .info_body {
    font-size: 0.9rem;
  
    & > .content_container {
      @include mixins.filp-content(4);
    }
    
    & .toggle_btn {
      @include mixins.flip-toggle-button;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}