@use 'styles/common/colors';
@use 'styles/common/mixins';
@use 'styles/common/sizes';

.wrapper {
    @include mixins.separate-line(sizes.$space-6x);
    display: flex;
  
    & .info {
        flex: 1 1;
        padding-left: sizes.$space-4x;
  
        & > a {
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
  
        & > span {
            display: block;
            margin-top: 2px;
            font-size: 0.8rem;
            color: colors.$light-gray-color;
        }
    }
}
  
.desc_wrapper {
    padding-bottom: sizes.$space-5x;
  
    & .desc {
        @include mixins.filp-content(4);
        margin-top: sizes.$space-4x;
        max-width: 656px;
        font-size: 0.9rem;
        white-space: pre-wrap;
    }
  
    & .toggle_btn {
        @include mixins.flip-toggle-button;
        font-size: 0.75rem;
    }
}