@use 'styles/common/sizes';
@use 'styles/common/colors';

.container {
  display: block;
  text-align: center;

  & .spinner_rolling {
    display: inline-block;
    width: sizes.$spinner-outer-size;
    height: sizes.$spinner-outer-size;
    background: colors.$spinner-bg-color;
    overflow: hidden;
  }

  & .ldio {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1);
    transform-origin: 0 0;
  
    & div {
      top: 30px;
      left: 30px;
      box-sizing: content-box;
      position: absolute;
      width: sizes.$spinner-inner-size;
      height: sizes.$spinner-inner-size;
      border: sizes.$spinner-border;
      border-top-color: transparent;
      border-radius: 50%;
      animation: ldio 1s linear infinite;
    }
  }
}

@keyframes ldio {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}