@use "./common/_colors";
@use "./common/_mixins";

.container {
  flex: 1 1 65%;
  padding-right: 8px;
}

.player_container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  min-width: 640px;
  min-height: 360px;
  max-width: 1280px;
  max-height: 720px;

  & > .player {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.video_info_container {
  @include mixins.separateLine;

  & .video_info {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    color: colors.$grayLight;
    font-size: 0.9rem;
  
    & .video_info_right {
      display: flex;
      height: 100%;
      align-items: center;
      color: black;
  
      & .video_info_item {
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: 10px;
        cursor: pointer;
  
        & > button {
          height: 100%;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}

.channel_info_container {
  @include mixins.separateLine;
  display: flex;

  & .channel_info_left {
    width: 48px;
    height: 48px;

    & > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #eeeeee;
    }
  }

  & .channel_info_right {
    padding-left: 16px;

    & > a {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }

    & > span {
      display: block;
      margin-top: 2px;
      font-size: 0.8rem;
      color: colors.$grayLight;
    }
  }
}

.desc_container {
  padding-bottom: 20px;

  & .video_desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 656px;
    margin-top: 14px;
    font-size: 14px;
    overflow: hidden;
  }

  & .toggle_btn {
    margin-top: 8px;
    padding: 0;
    border: none;
    color: colors.$grayLight;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
  }
}

/* buttons */

.btns {
  @include mixins.btnWithHoverTitle;
}
