@use './common/colors';
@use './common/mixins';
@use './common/sizes';

.container {
  @include mixins.grid-video-item;
  cursor: pointer;

  & .video_thumbnail_container {
    position: relative;
    width: 100%;

    & .video_thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .duration {
      right: 5px;
      bottom: 8px;
      position: absolute;
      padding: 3px 4px;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      font-size: 0.8rem;
      border-radius: 3px;
    }
  }

  & .info_container {
    width: 100%;
    height: 100%;
    padding: sizes.$playlist-info-default-space 0;
    display: flex;

    & .channel_thumbnail {
      margin-right: sizes.$playlist-info-default-space;
      width: sizes.$medium-thumbnail;
      height: sizes.$medium-thumbnail;
      flex-shrink: 0;
  
      & > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: colors.$default-img-color;
      }
    }

    & .title {
      @include mixins.filp-content;
      margin: 0 0 6px 0;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      font-size: 1rem;
    }

    & .info {
      font-size: 0.9rem;
      color: colors.$light-gray-color;

      & .sub_info {
        font-size: 0.8rem;

        & span:first-child::after {
          content: "•";
          margin: 0 4px;
        }
      }
    }
  }
}

:global {
  .section_select_video {
    & :local .container {
      margin: sizes.$playlist-video-margin;
      flex-direction: row;
      min-width: sizes.$playlist-video-min-width;
      max-width: sizes.$playlist-video-max-width;

      & .video_thumbnail_container {
        margin-right: sizes.$small-space;
        width: sizes.$playlist-video-width;
        height: sizes.$playlist-video-height;
        flex-shrink: 0;
      }

      & .info_container {
        padding: 0;
      }
    }
  }
}

:global {
  @media screen and (max-width: sizes.$playlist-variable-width) {
    .section_select_video {
      display: block;

      & :local .container {
        width: 100%;
        max-width: none;
      }
    }
  }
}