// common
$main-bg-color: #f9f9f9;
$link-blue-color: rgb(6, 95, 212);
$light-gray-color: rgb(96, 96, 96);
$default-img-color: #eeeeee;
$icon-main-color: #030303;
$button-blue-color: #065fd4;

// header
$header-bg-color: #ffffff;
$search-icon-border-color: #d3d3d3;
$search-icon-bg-color: #f8f8f8;
$search-icon-hover-color: #f0f0f0;
$header-modal-button-hover-color: #f2f2f2;
$header-mobile-sub-color: #f2f2f2;

// spinner
$spinner-border-color: #808080;
$spinner-bg-color: #f9f9f9;