@use 'sizes';
@use 'colors';

@mixin separate-line($bottomMargin) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: sizes.$small-space;
    margin-bottom: $bottomMargin;
}

@mixin btn-hover-title {
    position: relative;

    &:hover::after {
      content: attr(title);
      position: absolute;
      width: max-content;
      top: 100%;
      left: 50%;
      padding: 7px 5px;
      font-size: 0.75rem;
      color: white;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.6);
      transform: translateX(-50%);
      cursor: auto;
      z-index: 1;
    }
}

@mixin grid-video-item {
  display: flex;
  flex-direction: column;
  min-width: sizes.$playlist-video-min-width;
  max-width: sizes.$playlist-video-max-width;
}

@mixin filp-content($line-num) {
  display: -webkit-box;
  -webkit-line-clamp: $line-num;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin flip-toggle-button {
  margin-top: 4px;
  padding: 0;
  border: 0;
  color: colors.$light-gray-color;
}