@use 'colors';

// Margin & Padding spaces
$small-space: 8px;
$medium-space: 16px;
$large-space: 24px;

// Thumbnail
$small-thumbnail: 32px;
$medium-thumbnail: 36px;
$large-thumbnail: 48px;

// Icon
$icon-small-size: 20px;
$icon-medium-size: 24px;

// Header
$header-height: 56px;

// Playlist
$playlist-video-margin: 0 8px 8px 8px;
$playlist-video-min-width: 240px;
$playlist-video-max-width: 360px;
$playlist-video-width: 168px;
$playlist-video-height: 94px;
$playlist-video-min-width: 300px;
$playlist-video-max-width: 400px;

$playlist-info-default-space: 12px;
$playlist-variable-width: 1016px;

// Grid
$grid-max-width: calc($playlist-video-min-width * 5);
$grid-gap: 16px;
$grid-video-box-min-width: 300px;
$grid-video-box-min-height: 170px;

// Player
$player-min-width: 640px;
$player-min-height: 360px;
$player-max-width: 1280px;
$player-max-height: 720px;

// Loading spinner
$spinner-outer-size: 60px;
$spinner-inner-size: 30px;
$spinner-border: 3px solid colors.$spinner-border-color;

// Common
$thin-black-border: 1px solid rgba(0, 0, 0, 0.1);
$body-min-width: 280px;
$default-section-padding: 0 $medium-space;
