.videoplayer_container {
  flex: 1 1 65%;
  padding-right: 8px;
}

.videoplayer {
  width: 100%;
}

.video_date {
  color: rgb(96, 96, 96);
  font-size: 0.9rem;
}

.video_desc {
  white-space: pre-wrap;
}
