.videosection_container {
  flex: 1 1 65%;
  padding-right: 8px;
}

.videoplayer_container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  min-width: 720px;
  min-height: 405px;
  max-width: 1280px;
  max-height: 720px;
}

.videoplayer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video_info_right {
  display: flex;
  height: 100%;
  align-items: center;
  color: black;
}

.video_info_item {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.video_info_item > button {
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.video_info {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  color: rgb(96, 96, 96);
  font-size: 0.9rem;
}

.author_info_container {
  display: flex;
}

.author_info_left > img {
  width: 48px;
  border-radius: 50%;
}

.author_info_right {
  padding-left: 16px;
}

.author_info_right > a {
  color: black;
  font-weight: bold;
}

/* span태그 클래스 입히기. */
.author_info_right > span {
  font-size: 0.8rem;
  color: rgb(96, 96, 96);
  display: block;
}

.video_desc {
  white-space: pre-wrap;
}
