.videoplayer_container {
  flex: 1 1 65%;
  padding-right: 8px;
}

.videoplayer {
  width: 100%;
  /* height는 widt의 56.25% */
  min-width: 720px;
  min-height: 405px;
  max-width: 1280px;
  max-height: 720px;
}

.video_date {
  color: rgb(96, 96, 96);
  font-size: 0.9rem;
}

.video_desc {
  white-space: pre-wrap;
}
