.playlist {
  display: flex;
  margin: 0px 10px 10px 10px;
  cursor: pointer;
  /* border 제거 예정. */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* 클래스명 변경 예정. */
.noVideo {
  flex-direction: column;
  flex: 1 23%;
  min-width: 240px;
}

.noVideo > img {
  width: 100%;
}

.thumbnail {
  width: 40%;
}

.video_info_container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 1rem;
}

.video_info {
  font-size: 0.9rem;
  color: rgb(96, 96, 96);
}

.info_counter {
  font-size: 0.8rem;
}
