.playlist {
  display: flex;
  margin: 0px 10px 10px 10px;
  cursor: pointer;
  /* border 제거 예정. */
  border: 1px solid #0000001a;
}

/* 클래스명 변경 예정. */
.noVideo {
  flex-direction: column;
  flex: 1 23%;
  min-width: 240px;
}

.noVideo > img {
  width: 100%;
}

.thumbnail {
  width: 40%;
}

.video_info_container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: -webkit-box;
  margin: 0;
  font-size: 1rem;
  max-width: 381px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video_info {
  font-size: 0.9rem;
  color: rgb(96, 96, 96);
}

.info_counter {
  font-size: 0.8rem;
}

@media screen and (max-width: 1080px) {
  .selectedVideo {
    margin: 0 0 10px 0;
  }
}
