header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: white;
  padding: 0px 10px;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  cursor: pointer;
}

.left > img {
  width: 30px;
}

.left > span {
  font-size: 24px;
  font-weight: bold;
  padding-left: 2px;
}

.center {
  flex: 1 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  /* 임시 */
  height: 70%;
}

.center button {
  cursor: pointer;
}

.searchbar_container {
  flex: 0 1 70%;
  display: flex;
  align-items: center;
  /* 임시 */
  height: 100%;
}

.searchbar_container > button {
  border: 1px solid #d3d3d3;
  border-radius: 0 3px 3px 0;
  background: #f8f8f8;
}

.searchbar {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px 0 0 3px;
}

.searchbar > input {
  flex: 1 1 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0 0 7px;
  font-size: 1rem;
}

input:focus {
  outline: 1px solid black;
}

.input_icons_container {
  display: flex;
}

.input_icon {
  margin: 1px 10px;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 19px;
  color: gray;
  opacity: 0.6;
}

.input_icon:last-child {
  margin-left: 0;
}

.input_icon:hover {
  opacity: 0.8;
}

.search_icon {
  display: flex;
  width: 64px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.search_icon:hover {
  background-color: #f0f0f0;
}

.search_icon > img {
  width: 24px;
}

.voiceBtn {
  width: 40px;
  height: 40px;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
  font-size: 1.2rem;
}

.right_btns {
  position: relative;
  border: none;
  background-color: white;
  font-size: 24px;
  cursor: pointer;
}

.btns {
  position: relative;
}

.btns[title]:hover::after {
  content: attr(title);
  position: absolute;
  width: max-content;
  top: 100%;
  left: 0;
  padding: 10px;
  font-size: 10px;
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: auto;
}

.right {
  flex: 1 1 5%;
  display: flex;
}

.right > .btns {
  /* background-color: white; */
  padding: 8px;
}
