@value linkColor, blackBoder, grayLight from '../../common/colors.scss';

header {
  height: 56px;
  border-bottom: blackBoder;
  background-color: white;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 0;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  & img {
    width: 30px;
  }
  & h1 {
    margin: 0;
    padding-left: 2px;
    font-size: 24px;
  }
}

.center {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 70%;
  & button {
    cursor: pointer;
  }
}

.searchbar_container {
  flex: 0 1 70%;
  display: flex;
  align-items: center;
  height: 100%;
  & > button {
    border: 1px solid #d3d3d3;
    border-radius: 0 3px 3px 0;
    background: #f8f8f8;
  }
}

.searchbar {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  border: blackBoder;
  border-radius: 3px 0 0 3px;
  & .input_form {
    flex: 1 1 100%;
    height: 100%;
    & input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding: 0 0 0 7px;
      font-size: 1rem;
      outline: none;
    }
  }
  &:focus-within {
    border: 1px solid black;
  }
}

.input_icons_container {
  display: flex;
}

.input_icon {
  margin: 1px 10px;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 19px;
  color: grayLight;
  opacity: 0.6;
  &:last-child {
    margin-left: 0;
    width: 20px;
    height: 20px;
  }
  &:hover {
    opacity: 0.8;
  }
}

.search_icon {
  display: flex;
  width: 64px;
  height: 100%;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #f0f0f0;
  }
  & img {
    width: 24px;
  }
}

.voiceBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
  font-size: 1.2rem;
}

.btns[title] {
  position: relative;

  &:hover::after {
    content: attr(title);
    position: absolute;
    width: max-content;
    top: 100%;
    left: 0;
    padding: 7px 5px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: auto;
    z-index: 1;
  }
}

.right {
  min-width: 225px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > .right_btns {
    display: flex;
    align-items: center;
    padding: 8px;
    border: none;
    background-color: white;
    cursor: pointer;
  }

  & > .login_btn {
    justify-content: space-evenly;
    width: 99.5px;
    margin-left: 8px;
    padding: 5px 11px;
    border: 1px solid linkColor;
    border-radius: 3px;
    color: linkColor;
    fill: linkColor;
    font-size: 14px;
  }
}

/* thumbnail */
.thumbnail_container {
  margin-left: 8px;
  padding: 0;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  & img {
    width: 100%;
    border-radius: 50%;
  }
}

.userModal_container {
  width: 300px;
  position: absolute;
  /* header랑 사이즈 맞춰서 sizes에 묶어놓기. */
  top: 56px;
  border: blackBoder;
  border-radius: 2px;
  background: white;
  visibility: hidden;
  z-index: 5;
}

.modal_top {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: blackBoder;

  & > img {
    margin-right: 16px;
    /* icon 사이즈 묶기 */
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  & > span {
    font-weight: bold;
  }
}

.modal_content {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  cursor: pointer;

  &:hover {
    background: #f2f2f2;
  }

  & > .modal_icons {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
}
