header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: white;
    padding: 0px 10px;
}

.left {
    width: 20%;
}

.left > img {
    width: 80%;
}

.center {
    display: flex;
    align-items: center;
    /* 임시 */
    height: 100%;
}

.searchbar_container {
    display: flex;
    align-items: center;
    /* 임시 */
    height: 80%;
}

.searchbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.searchbar > input {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0px 7px;
    font-size: 1rem;
}

.btns {
    border: none;
    background-color: white;
    font-size: 24px;
    cursor: pointer;
}

.right {
    display: flex;
}

.right > .btns {
    /* background-color: white; */
    padding: 8px;
}