@use 'styles/common/sizes';
@use 'styles/common/mixins';

.container {
  @include mixins.grid-video-item;

  & .info_container {
    display: flex;
    padding: 10px 0px;
    width: 100%;

    & .channel_thumbnail {
      margin-right: sizes.$playlist-info-default-space;
    }

    & .info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
