.comments {
  list-style: none;
  padding-left: 0;
}

.comment_container {
  margin: 0 0 16px 0;
}

.comment_top {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.author_name {
  margin: 0;
  font-size: 0.9rem;
}

.comment_date {
  padding-left: 5px;
  color: gray;
  font-size: 0.7rem;
}

a {
  color: rgb(6, 95, 212);
  text-decoration: none;
}