@use './styles/common/colors';
@use './styles/common/sizes';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: sizes.$mobile-size;
  font-family: "Roboto", Arial, sans-serif;

  & main {
    min-height: calc(100vh - sizes.$header-height);
    padding-top: sizes.$space-6x;
    background-color: colors.$main-bg-color;
    overflow-x: hidden;

    & section {
      margin: 0 auto;
      padding: 0 sizes.$space-4x;
    
      &.section_select_video {
        display: flex;
        max-width: sizes.$selected-video-max-width;
      }
    }
  }
}

svg {
  width: 100%;
  height: 100%;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.expander {
  -webkit-line-clamp: unset !important;
}

@media screen and (max-width: calc(sizes.$double-video-section-min-width - 1px)) {
  body main section {
    padding: 0;
  }
}