* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

div.separateLine {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 1px;
  margin: 8px 0;
}

.input_hidden {
  display: none;
}
