@use './styles/common/colors';
@use './styles/common/sizes';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: sizes.$body-min-width;
  font-family: "Roboto", Arial, sans-serif;

  & main {
    min-height: calc(100vh - sizes.$header-height);
    padding-top: sizes.$large-space;
    background-color: colors.$main-bg-color;
    overflow-x: hidden;

    & section {
      padding: 0 sizes.$small-space;
    
      &.section-select-video {
        display: flex;
        padding: 0 sizes.$large-space;
      }
    }
  }
}

svg {
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.input_hidden {
  display: none;
}

.hidden {
  visibility: hidden;
}

.shortcut {
  -webkit-line-clamp: 4;
}

.expander {
  -webkit-line-clamp: unset;
}